*{
    margin: 0 ;
    padding: 0;
     box-sizing: border-box;
}

body{
    background: lavender;

}
.nav-responsive{
 display: flex;
position: fixed;
z-index: 1;
width: 100vw;
justify-content: space-evenly;
align-items: center;
background: rgba(127, 238, 164, 0.644);
padding: 0.8rem 0rem;
margin-top: -1rem;



}
.logo{
    width: 4rem;
    height: 3rem;
    border-radius: 50%;

}

.nav-search{
    width: 50vw;

    position: relative;
}
    
#search{
    width:50vw ;
    outline:none;
    font-size: 1.3rem;
padding: 0.2rem 2rem 0.2rem 1rem;
border-radius: 1rem;
border : none;
}
#find{
position: absolute;
font-size: 1.3rem;
top: 0.3rem;
right: 0.5rem;
color: rgb(52, 53, 42);
background: transparent;
}
.access a{
color: rgb(0, 0, 0);
font-size: 2rem;
padding: 0 0.8rem;

}
#notification{
position: relative;


}

#account {
display: none;
}

#account i{

    font-size: 2.2rem;
}

#main{
    margin-top: 5rem;
}

#categories{
     
margin: 0.5rem 0;
display: flex;
padding: 0.5rem 0.3rem ;
background:rgb(255, 255, 255);
top: 58px;
position: relative;
height: 117px;

}
.brand{ 
    width: 4rem;
    text-align: center;
    margin-left: 1rem;
    cursor: pointer;



}

.img-container{
    width: 4.7rem;
    height: 4.8rem;
    background: rgb(136, 173, 243);
    border-radius: 50%;
    position: relative;
    
    



}

.brand-img{
height: 4.2rem;
position: relative;
border-radius: 50%;
top: 5px;
margin: auto;
text-align: center;


}

#brand-name{
font-family: sans-serif;
text-transform: capitalize;
top: 2.5px; 
margin: 0.6rem;
text-align: center;
color: rgb(24, 24, 43);
}
#categories{
     
    margin: 0.5rem 0;
    display: flex;
    padding: 0.5rem 0.3rem ;
    background:rgb(255, 255, 255);
    top: 58px;
    position: relative;
    height: 117px;
    
    }
    .brand2{ 
        width: 4rem;
        text-align: center;
        margin-left: 1rem;
        cursor: pointer;
    
    
    
    }
    
    .img-container2{
        width: 4.7rem;
        height: 4.8rem;
        position: relative;
        background: rgb(136, 173, 243);
        border-radius: 50%;
    
        left: 250px;
        top: -70px;
        
    
    
    
    }
    
    .brand-img2{
    height: 4.2rem;
    position: relative;
    border-radius: 50%;
    top: 5px;
    margin: auto;
    text-align: center;
    
    
    
    
    }
    
    #brand-name2{
    font-family: sans-serif;
    text-transform: capitalize;
    top: 2.5px; 
    margin: 0.6rem;
    text-align: center;
    color: rgb(24, 24, 43);
    }

    #categories{
     
        margin: 0.5rem 0;
        display: flex;
        padding: 0.5rem 0.3rem ;
        background:rgb(255, 255, 255);
        top: 58px;
        position: relative;
        height: 117px;
        
        }
        .brand3{ 
            width: 4rem;
            text-align: center;
            margin-left: 1rem;
            cursor: pointer;
        
        
        
        }
        
        .img-container3{
            width: 4.7rem;
            height: 4.8rem;
            position: relative;
            background: rgb(136, 173, 243);
            border-radius: 50%;
        
            left: 500px;
            top: -140px;
            
        
        
        
        }
        
        .brand-img3{
        height: 4.2rem;
        position: relative;
        border-radius: 50%;
        top: 5px;
        margin: auto;
        text-align: center;
        
        
        
        
        }
        
        #brand-name3{
        font-family: sans-serif;
        text-transform: capitalize;
        top: 2.5px; 
        margin: 0.6rem;
        text-align: center;
        color: rgb(24, 24, 43);
        }

        #categories{
     
            margin: 0.5rem 0;
            display: flex;
            padding: 0.5rem 0.3rem ;
            background:rgb(255, 255, 255);
            top: 58px;
            position: relative;
            height: 117px;
            
            }
            .brand4{ 
                width: 4rem;
                text-align: center;
                margin-left: 1rem;
                cursor: pointer;
            
            
            
            }
            
            .img-container4{
                width: 4.7rem;
                height: 4.8rem;
                position: relative;
                background: rgb(136, 173, 243);
                border-radius: 50%;
            
                left: 750px;
                top: -210px;
                
            
            
            
            }
            
            .brand-img4{
            height: 4.2rem;
            position: relative;
            border-radius: 50%;
            top: 5px;
            margin: auto;
            text-align: center;
            
            
            
            
            }
            
            #brand-name4{
            font-family: sans-serif;
            text-transform: capitalize;
            top: 2.5px; 
            margin: 0.6rem;
            text-align: center;
            color: rgb(24, 24, 43);
            }
            #categories{
     
                margin: 0.5rem 0;
                display: flex;
                padding: 0.5rem 0.3rem ;
                background:rgb(255, 255, 255);
                top: 58px;
                position: relative;
                height: 117px;
                
                }
                .brand5{ 
                    width: 4rem;
                    text-align: center;
                    margin-left: 1rem;
                    cursor: pointer;
                
                
                
                }
                
                .img-container5{
                    width: 4.7rem;
                    height: 4.8rem;
                    position: relative;
                    background: rgb(136, 173, 243);
                    border-radius: 50%;
                
                    left: 1000px;
                    top: -285px;
                    
                
                
                
                }
                
                .brand-img5{
                height: 4.2rem;
                position: relative;
                border-radius: 50%;
                top: 5px;
                margin: auto;
                text-align: center;
                
                
                
                
                }
                
                #brand-name5{
                font-family: sans-serif;
                text-transform: capitalize;
                top: 2.5px; 
                margin: 0.6rem;
                text-align: center;
                color: rgb(24, 24, 43);
                }
                #categories{
     
                    margin: 0.5rem 0;
                    display: flex;
                    padding: 0.5rem 0.3rem ;
                    background:rgb(255, 255, 255);
                    top: 58px;
                    position: relative;
                    height: 117px;
                    
                    }
                    .brand6{ 
                        width: 4rem;
                        text-align: center;
                        margin-left: 1rem;
                        cursor: pointer;
                    
                    
                    
                    }
                    
                    .img-container6{
                        width: 4.7rem;
                        height: 4.8rem;
                        position: relative;
                        background: rgb(136, 173, 243);
                        border-radius: 50%;
                    
                        left: 1200px;
                        top: -360px;
                        
                    
                    
                    
                    }
                    
                    .brand-img6{
                    height: 4.2rem;
                    position: relative;
                    border-radius: 50%;
                    top: 5px;
                    margin: auto;
                    text-align: center;
                    
                    
                    
                    
                    }
                    
                    #brand-name6{
                    font-family: sans-serif;
                    text-transform: capitalize;
                    top: 2.5px; 
                    margin: 0.6rem;
                    text-align: center;
                    color: rgb(24, 24, 43);
                    }
                    #categories{
     
                        margin: 0.5rem 0;
                        display: flex;
                        padding: 0.5rem 0.3rem ;
                        background:rgb(255, 255, 255);
                        top: 58px;
                        position: relative;
                        height: 117px;
                        
                        }
                        .brand7{ 
                            width: 4rem;
                            text-align: center;
                            margin-left: 1rem;
                            cursor: pointer;
                        
                        
                        
                        }
                        
                        .img-container7:hover{
                            
                            background: rgb(136, 173, 243);
                            transition: all 0.7s ease-in-out;

                             left: 1200px;
                            top: -360px;
                        
                           
                            
                        }

                        
                        
                        
                        
                        .brand-img7{
                        position: relative;
                        max-width: 100%;
                        max-width: 8rem;
                        text-align: center;
                        top: 5px;
                        
                        
                        
                        
                        
                        }
                        
                        #brand-name7{
                        font-family: sans-serif;
                        text-transform: capitalize;
                        top: 2.5px; 
                        margin: 0.6rem;
                        text-align: center;
                        color: rgb(24, 24, 43);
                        }
                        #categories{
     
                            margin: 0.5rem 0;
                            display: flex;
                            padding: 0.5rem 0.3rem ;
                            background:rgb(255, 255, 255);
                            top: 58px;
                            position: relative;
                            height: 117px;
                            
                            }
                            .brand7{ 
                                width: 4rem;
                                text-align: center;
                                margin-left: 1rem;
                                cursor: pointer;
                            
                            
                            
                            }
                            
                            .img-container7:hover{
                                
                                background: rgb(136, 173, 243);
                                transition: all 0.7s ease-in-out;
                                
                            
                               
                                
                            }
                            
                            
                            
                            
                            
                            .brand-img7{
                            position: relative;
                            max-width: 100px;
                            max-width: 8rem;
                            text-align: center;
                            max-height: 500px;
                            left: inherit;

                            
                            
                            
                            
                            }
                            
                            #brand-name7{
                            font-family: sans-serif;
                            text-transform: capitalize;
                            top: 2.5px; 
                            margin: 0.6rem;
                            text-align: center;
                            color: rgb(24, 24, 43);
                            }
                            #categories{
     
                                margin: 0.5rem 0;
                                display: flex;
                                padding: 0.5rem 0.3rem ;
                                background:rgb(255, 255, 255);
                                top: 58px;
                                position: relative;
                                height: 117px;
                                
                                }
                                .brand8{ 
                                    width: 4rem;
                                    text-align: center;
                                    margin-left: 1rem;
                                    cursor: pointer;
                                
                                
                                
                                }
                                
                                .img-container8:hover{
                                    
                                    background: rgb(136, 173, 243);
                                    transition: all 0.7s ease-in-out;
                                    
                                    left: 1200px;
                                    top: 200px;
                        
                                   
                                    
                                }
                                
                                
                                
                                
                                
                                .brand-img8{
                                position: relative;
                                max-width: 100%;
                                max-width: 8rem;
                                text-align: center;
                                right: initial;
                                
                                
                                
                                
                                
                                }
                                
                                #brand-name8{
                                font-family: sans-serif;
                                text-transform: capitalize;
                                top: 2.5px; 
                                margin: 0.6rem;
                                text-align: center;
                                color: rgb(24, 24, 43);
                                }
                                #categories{
     
                                    margin: 0.5rem 0;
                                    display: flex;
                                    padding: 0.5rem 0.3rem ;
                                    background:rgb(255, 255, 255);
                                    top: 58px;
                                    position: relative;
                                    height: 117px;
                                    
                                    }
                                    .brand9{ 
                                        width: 4rem;
                                        text-align: center;
                                        margin-left: 1rem;
                                        cursor: pointer;
                                    
                                    
                                    
                                    }
                                    
                                    .img-container9:hover{
                                        
                                        background: rgb(136, 173, 243);
                                        transition: all 0.7s ease-in-out;
                                        
                                    
                                       
                                        
                                    }
                                    
                                    
                                    
                                    
                                    
                                    .brand-img9{
                                    position: relative;
                                    max-width: 100%;
                                    max-width: 8rem;
                                    text-align: center;
                                    
                                    
                                    
                                    
                                    }
                                    
                                    #brand-name9{
                                    font-family: sans-serif;
                                    text-transform: capitalize;
                                    top: 2.5px; 
                                    margin: 0.6rem;
                                    text-align: center;
                                    color: rgb(24, 24, 43);
                                    }
                                    #categories{
     
                                        margin: 0.5rem 0;
                                        display: flex;
                                        padding: 0.5rem 0.3rem ;
                                        background:rgb(255, 255, 255);
                                        top: 58px;
                                        position: relative;
                                        height: 117px;
                                        
                                        }
                                        .brand10{ 
                                            width: 4rem;
                                            text-align: center;
                                            margin-left: 1rem;
                                            cursor: pointer;
                                        
                                        
                                        
                                        }
                                        
                                        .img-container10:hover{
                                            
                                            background: rgb(136, 173, 243);
                                            transition: all 0.7s ease-in-out;
                                            
                                        
                                           
                                            
                                        }
                                        
                                        
                                        
                                        
                                        
                                        .brand-img10{
                                        position: relative;
                                        max-width: 100%;
                                        max-width: 8rem;
                                        text-align: center;
                                        
                                        
                                        
                                        
                                        }
                                        
                                        #brand-name10{
                                        font-family: sans-serif;
                                        text-transform: capitalize;
                                        top: 2.5px; 
                                        margin: 0.6rem;
                                        text-align: center;
                                        color: rgb(24, 24, 43);
                                        }
                                        #categories{
     
                                            margin: 0.5rem 0;
                                            display: flex;
                                            padding: 0.5rem 0.3rem ;
                                            background:rgb(255, 255, 255);
                                            top: 58px;
                                            position: relative;
                                            height: 117px;
                                            
                                            }
                                            .brand11{ 
                                                width: 4rem;
                                                text-align: center;
                                                margin-left: 1rem;
                                                cursor: pointer;
                                            
                                            
                                            
                                            }
                                            
                                            .img-container11:hover{
                                                
                                                background: rgb(136, 173, 243);
                                                transition: all 0.7s ease-in-out;
                                                
                                            
                                               
                                                
                                            }
                                            
                                            
                                            
                                            
                                            
                                            .brand-img11{
                                            position: relative;
                                            max-width: 100%;
                                            max-width: 8rem;
                                            text-align: center;
                                            
                                            
                                            
                                            
                                            }
                                            
                                            #brand-name11{
                                            font-family: sans-serif;
                                            text-transform: capitalize;
                                            top: 2.5px; 
                                            margin: 0.6rem;
                                            text-align: center;
                                            color: rgb(24, 24, 43);
                                            }
                                            #categories{
     
                                                margin: 0.5rem 0;
                                                display: flex;
                                                padding: 0.5rem 0.3rem ;
                                                background:rgb(255, 255, 255);
                                                top: 58px;
                                                position: relative;
                                                height: 117px;
                                                
                                                }
                                                .brand12{ 
                                                    width: 4rem;
                                                    text-align: center;
                                                    margin-left: 1rem;
                                                    cursor: pointer;
                                                
                                                
                                                
                                                }
                                                
                                                .img-container12:hover{
                                                    
                                                    background: rgb(136, 173, 243);
                                                    transition: all 0.7s ease-in-out;
                                                    
                                                
                                                   
                                                    
                                                }
                                                
                                                
                                                
                                                
                                                
                                                .brand-img12{
                                                position: relative;
                                                max-width: 100%;
                                                max-width: 8rem;
                                                text-align: center;
                                                
                                                
                                                
                                                
                                                }
                                                
                                                #brand-name12{
                                                font-family: sans-serif;
                                                text-transform: capitalize;
                                                top: 2.5px; 
                                                margin: 0.6rem;
                                                text-align: center;
                                                color: rgb(24, 24, 43);
                                                }
                                                #categories{
     
                                                    margin: 0.5rem 0;
                                                    display: flex;
                                                    padding: 0.5rem 0.3rem ;
                                                    background:rgb(255, 255, 255);
                                                    top: 58px;
                                                    position: relative;
                                                    height: 117px;
                                                    
                                                    }
                                                    .brand13{ 
                                                        width: 4rem;
                                                        text-align: center;
                                                        margin-left: 1rem;
                                                        cursor: pointer;
                                                    
                                                    
                                                    
                                                    }
                                                    
                                                    .img-container13:hover{
                                                        
                                                        background: rgb(136, 173, 243);
                                                        transition: all 0.7s ease-in-out;
                                                        
                                                    
                                                       
                                                        
                                                    }
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    .brand-img13{
                                                    position: relative;
                                                    max-width: 100%;
                                                    max-width: 8rem;
                                                    text-align: center;
                                                    
                                                    
                                                    
                                                    
                                                    }
                                                    
                                                    #brand-name13{
                                                    font-family: sans-serif;
                                                    text-transform: capitalize;
                                                    top: 2.5px; 
                                                    margin: 0.6rem;
                                                    text-align: center;
                                                    color: rgb(24, 24, 43);
                                                    }
                                                    #categories{
     
                                                        margin: 0.5rem 0;
                                                        display: flex;
                                                        padding: 0.5rem 0.3rem ;
                                                        background:rgb(255, 255, 255);
                                                        top: 58px;
                                                        position: relative;
                                                        height: 117px;
                                                        
                                                        }
                                                        .brand14{ 
                                                            width: 4rem;
                                                            text-align: center;
                                                            margin-left: 1rem;
                                                            cursor: pointer;
                                                        
                                                        
                                                        
                                                        }
                                                        
                                                        .img-container14:hover{
                                                            
                                                            background: rgb(136, 173, 243);
                                                            transition: all 0.7s ease-in-out;
                                                            
                                                        
                                                           
                                                            
                                                        }
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        .brand-img14{
                                                        position: relative;
                                                        max-width: 100%;
                                                        max-width: 8rem;
                                                        text-align: center;
                                                        
                                                        
                                                        
                                                        
                                                        }
                                                        
                                                        #brand-name14{
                                                        font-family: sans-serif;
                                                        text-transform: capitalize;
                                                        top: 2.5px; 
                                                        margin: 0.6rem;
                                                        text-align: center;
                                                        color: rgb(24, 24, 43);
                                                        }
                                                       